@font-face {
  font-family: 'first-voices', sans-serif;
  src: url('../font/first-voices.eot?52153691');
  src: url('../font/first-voices.eot?52153691#iefix') format('embedded-opentype'),
       url('../font/first-voices.woff2?52153691') format('woff2'),
       url('../font/first-voices.woff?52153691') format('woff'),
       url('../font/first-voices.ttf?52153691') format('truetype'),
       url('../font/first-voices.svg?52153691#first-voices') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'first-voices';
    src: url('../font/first-voices.svg?52153691#first-voices') format('svg');
  }
}
*/
[class^="fv-"]:before, [class*=" fv-"]:before {
  font-family: "first-voices";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fv-shuffle:before { content: '\e800'; } /* '' */
.fv-volume-up:before { content: '\e801'; } /* '' */
.fv-copy:before { content: '\e802'; } /* '' */
.fv-right-open:before { content: '\e803'; } /* '' */
.fv-left-open:before { content: '\e804'; } /* '' */
.fv-play:before { content: '\e805'; } /* '' */
.fv-search:before { content: '\e806'; } /* '' */
.fv-close:before { content: '\e807'; } /* '' */
.fv-alphabet:before { content: '\e808'; } /* '' */
.fv-categories:before { content: '\e809'; } /* '' */
.fv-phrases:before { content: '\e80a'; } /* '' */
.fv-words:before { content: '\e80b'; } /* '' */
.fv-body:before { content: '\e80c'; } /* '' */
.fv-colours:before { content: '\e80d'; } /* '' */
.fv-events:before { content: '\e80e'; } /* '' */
.fv-book:before { content: '\e80f'; } /* '' */
.fv-star:before { content: '\e810'; } /* '' */
.fv-user:before { content: '\e811'; } /* '' */
.fv-computer:before { content: '\e812'; } /* '' */
.fv-refresh-counter-clockwise:before { content: '\e813'; } /* '' */
.fv-refresh-clockwise:before { content: '\e814'; } /* '' */
.fv-left-big:before { content: '\e815'; } /* '' */
.fv-arrows-cw:before { content: '\e816'; } /* '' */
.fv-mix:before { content: '\e817'; } /* '' */
.fv-wordsfc:before { content: '\e818'; } /* '' */
.fv-phrasesfc:before { content: '\e819'; } /* '' */
.fv-ccw:before { content: '\e81a'; } /* '' */
.fv-right-big:before { content: '\e81b'; } /* '' */
.fv-check:before { content: '\e81c'; } /* '' */
.fv-bookmark:before { content: '\e81d'; } /* '' */
.fv-games:before { content: '\e81e'; } /* '' */
.fv-stories:before { content: '\e81f'; } /* '' */
.fv-songs:before { content: '\e820'; } /* '' */
.fv-picture:before { content: '\e821'; } /* '' */
.fv-flashcard:before { content: '\e822'; } /* '' */
.fv-video:before { content: '\e823'; } /* '' */
.fv-pause:before { content: '\e824'; } /* '' */
.fv-cloud-arrow-down-regular:before { content: '\e825'; } /* '' */
.fv-learning:before { content: '\e826'; } /* '' */
.fv-dictionary:before { content: '\e828'; } /* '' */
.fv-cog:before { content: '\f013'; } /* '' */
.fv-bookmark-empty:before { content: '\f097'; } /* '' */
.fv-menu:before { content: '\f0c9'; } /* '' */
.fv-quote-right:before { content: '\f10e'; } /* '' */
.fv-spinner:before { content: '\f110'; } /* '' */
.fv-info:before { content: '\f129'; } /* '' */
.fv-share:before { content: '\f1e0'; } /* '' */
