
.fv-close:before { content: '\e800'; } /* '' */
.fv-volume-up:before { content: '\e801'; } /* '' */
.fv-copy:before { content: '\e802'; } /* '' */
.fv-right-open:before { content: '\e803'; } /* '' */
.fv-left-open:before { content: '\e804'; } /* '' */
.fv-play:before { content: '\e805'; } /* '' */
.fv-search:before { content: '\e806'; } /* '' */
.fv-alphabet:before { content: '\e807'; } /* '' */
.fv-categories:before { content: '\e808'; } /* '' */
.fv-phrases:before { content: '\e809'; } /* '' */
.fv-words:before { content: '\e80a'; } /* '' */
.fv-body:before { content: '\e80b'; } /* '' */
.fv-colours:before { content: '\e80c'; } /* '' */
.fv-events:before { content: '\e80d'; } /* '' */
.fv-book:before { content: '\e80e'; } /* '' */
.fv-star:before { content: '\e80f'; } /* '' */
.fv-computer:before { content: '\e810'; } /* '' */
.fv-user:before { content: '\e811'; } /* '' */
.fv-refresh-counter-clockwise:before { content: '\e812'; } /* '' */
.fv-refresh-clockwise:before { content: '\e813'; } /* '' */
.fv-mix:before { content: '\e814'; } /* '' */
.fv-left-bold:before { content: '\e815'; } /* '' */
.fv-left-bold:before { content: '\e815'; } /* '' */
.fv-right-bold:before { content: '\e816'; } /* '' */
.fv-right-bold:before { content: '\e816'; } /* '' */
.fv-games:before { content: '\e817'; } /* '' */
.fv-wordsfc:before { content: '\e818'; } /* '' */
.fv-phrasesfc:before { content: '\e819'; } /* '' */
.fv-ccw:before { content: '\e81a'; } /* '' */
.fv-right-big:before { content: '\e81b'; } /* '' */
.fv-check:before { content: '\e81c'; } /* '' */
.fv-bookmark:before { content: '\e81d'; } /* '' */
.fv-songs:before { content: '\e81e'; } /* '' */
.fv-stories:before { content: '\e81f'; } /* '' */
.fv-flashcard:before { content: '\e820'; } /* '' */
.fv-cog:before { content: '\f013'; } /* '' */
.fv-bookmark-empty:before { content: '\f097'; } /* '' */
.fv-menu:before { content: '\f0c9'; } /* '' */
.fv-quote-right:before { content: '\f10e'; } /* '' */
.fv-info:before { content: '\f129'; } /* '' */
.fv-share:before { content: '\f1e0'; } /* '' */
